mat-toolbar {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }


  .sticky {
  position: sticky;
  bottom: 0;
  height: 30px;
}